/**********************************************
        Normalize CSS
*******************************************/
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {}

p {}

.btn {
    background-color: #fff;
    color: #000;
    padding: 10px 30px;
    text-decoration: none;
}

.clearfix {
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/**********************************************
        Navbar CSS
*******************************************/
.navbar {
    background-color: #122938;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar .nav-inner {
    padding: 10px 40px;
}

.navbar-left .nav_logo {
    width: 100px;
}

.navbar-right ul {
    list-style: none;
}

.navbar-right ul li {
    display: inline-block;
}

.navbar-right ul li a.active {
    border-bottom: 2px solid red;
}

.btn-portfolio {
    position: relative;
}

.btn-portfolio .portfolio-count {
    background-color: red;
    position: absolute;
    width: 20px;
    height: 20px;
    right: -4px;
    top: -5px;
    padding: 2px;
    border-radius: 50%;
    text-align: center;
    color: #FFF;
}

.header-banner {
    background-image: url(../image/banner.jpg);
    background-repeat: no-repeat;
    padding: 25px;
    background-size: cover;
    height: 100vh;
}

.header-text {
    position: absolute;
    bottom: 20px;
    text-align: center;
    color: #fff;
    left: 20%;
    right: 20%;
}

.header-text h2 {
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

.header-text p {
    font-size: 1.2em;

}

.header-social a {
    margin-right: 5px;
    font-size: 0.8rem;
    color: #fff;
    border-radius: 25px;
}

.header-social a.facebook {
    background-color: #1876f2;
}

.header-social a.twitter {
    background-color: #1d9bf0;
}

.header-social a.youtube {
    background-color: red;
}

/**********************************************
        Header Banner CSS
*******************************************/


/**********************************************
        content CSS
*******************************************/
.content{
    padding: 40px;
}